* {
    --primary-color: #2E4057;
    --bghover-color: #8695A6;
    --accent-color: #F18F01;
    --background-color: #d2d6e4;
    --font-color: #333333;
    --header-font: "Bricolage Grotesque", sans-serif;
}

@media (min-width: 1025px) {
    body {
    margin: 0;
    background-color: var(--background-color);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    /* === HEADER === */

    .logo {
        width: 120px;
    }

    header > h1 {
        font-size: 2.5rem;
        width: auto;
    }

    header {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        margin-bottom: 0;
    }

    .header-nav {
        display: block;
        position: static;
        width: auto;
        margin-left: auto;
        margin-right: 1rem;
        background-color: transparent;


        opacity: 1;
        visibility: visible;
        transform: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        display: block;
        width: 7rem;
        text-align: center;
        padding: 0.5rem 0.7rem;
        font-size: 1.3rem;
        color: var(--background-color);
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .start-now {
        border-radius: 5px;
    }

    .start-now > a {
        font-weight: bold;
        background-color: #F18F01;
        border-radius: 5px;
        color: var(--primary-color);
        width: 9.5rem;
        white-space: nowrap;
    }

    .start-now > a:hover {
        background-color: rgba(242, 85, 0, 0.978);
        color: white;
    }

    #menu {
        display: none;
    }

    /* ***** PROJECT.HTML ***** */

    /* === MAIN === */
    main {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
        flex: 1;
    }

    .holy-grail {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;

        margin: 0 auto;
        padding: 0 2rem 2rem;
    }

    .start-btn {
        color: var(--primary-color);
        font-weight: bold;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        display: block;
        width: fit-content;
        margin: -3rem auto 4rem;
        padding: 1rem 2rem;

    }

    /* === Carousel === */
    .carousel {
        position: relative;
        top: 70px;
        width: 681px;
        height: 454px;
        overflow: hidden;
    }

    .carousel-track {
        width: 100%;
        height: 100%;
    }

    /* === No Text Carousel === */
    .text-carousel {
        width: 90%;
        margin: 0 auto 100px;
        overflow: visible;
    }

    .text-carousel-track {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        height: auto;
        position: static;
    }

    .text-slide {
        position: static;
        width: auto;
        opacity: 1 !important;
        transition: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-slide h3 {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        margin: 0 0 1rem;
    }

    .text-slide p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    /* ***** ABOUTUS.HTML ***** */

    .profile img {
        float: right;
        width: 200px;
        height: auto;
        margin: 0 0 1rem 2rem;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        margin-right: 5rem;
    }

    /* ***** STARTNOW.HTML ***** */

    .planner-main {
    height: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}

    /* === FOOTER === */

    footer {
        width: 100%;
        background-color: var(--primary-color);
        color: white;
    }

    .footer-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        width: 100%;
    }

    /* Left */
    .footer-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .footer-brand .logo {
        width: 60px;
        height: auto;
        display: block;
        margin: 0;
        padding: 0;

    }

    .footer-brand h2 {
        font-size: 1.8rem;
        display: flex;
        justify-content: start;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        line-height: 1;
        white-space: nowrap;
    }

    /* Center */
    .footer-col > p {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1.5;
        font-size: 1.5rem;
    }

    /* Right */
    .footer-nav {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 0;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-nav li a {
        display: block;
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        text-align: right;

        transition: background-color 0.3s ease;
    }

    .footer-nav li a:hover {
        background-color:  #364b65;
        border-radius: 5px;

    }

    /* === Informations === */
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
        text-align: center;
    }

    .footer-info p {
        margin: 0.25rem 0;
    }
}
