:root{
    --powder-blue: #bdc8e2;
    --alabaster-grey: #dddfe4;
    --dusty-grape: #565676;
    --spicy-paprika: #cf5c36;
    --space-indigo: #292b3d;
}

* {
    font-family: Arial, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: justify;
}

h1 {
    text-align: center;
    color: #333;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* === TABLE === */
.table-wraper {
    display: flex;
    justify-content: center;
}

th, td {
    border: 1px solid #8b8b8b;
    padding: 10px;
    width: 25%;
}

td[class] {
    height: 25px;
}

/* Color Schema Table */
.color-schema {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #8b8b8b;
    text-align: center;
    font-size: .7rem;
}

/* Preview Colors */
.alabaster-grey {
    background-color: var(--alabaster-grey);
}
.powder-blue {
    background-color: var(--powder-blue);
}
.space-indigo {
    background-color: var(--space-indigo);
}
.dusty-grape {
    background-color: var(--dusty-grape);
}
.spicy-paprika {
    background-color: var(--spicy-paprika);
}

/* Typography Table */
.typography-table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #8b8b8b;
    text-align: center;
    font-size: .8rem;
}

.noto-sans {
    font-family: 'Noto Sans';
    font-size: .8rem;
}

.montserrat {
    font-family: 'Montserrat Alternates';
    font-size: .8rem;
}

h2 {
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
    padding-bottom: 10px;
}

/* Wireframe */

.wireframes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.wireframes img {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 700px) {
    .wireframes {
        flex-direction: column;
        align-items: center;
    }
}

.wireframes figcaption {
    text-align: center;
    font-size: .8rem;
}