:root {
    --heading-font: 'Lato', sans-serif;
    --body-font: 'Lora', sans-serif;
    --primary-color: #1f3b52;
    --secondary-color: #245771;
    --accent-color: #8ec8ef;
    --heading-font: 'Lato', sans-serif;
    --body-font: 'Lora', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    height: 100vh;
}

header {
    margin-bottom: 20px;
    width: 100%;
}

#course-title {
    display:inline-block;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--body-font);
    flex: 1;
    text-align: center;
    transition: background-color 0.3s ease;
    display: block;
    padding: 15px;
    margin: 0;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

main {
    margin: 10px;
}

main h1 {
    text-align: center;
    font-family: var(--heading-font);
    margin: 2rem 0;
}

.card {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    overflow: hidden;
}

.card p {
    padding: 1.5rem;
    font-family: var(--body-font);
}

.cards-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.card h2 {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    padding: 1rem;
    color: white
}

.location-title {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    width: 60%;
    margin: 1rem auto;
}

.location {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
    align-items: center;
}

.location figure {
    margin: 0;
    justify-self: start;
}

.location img {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.location figcaption {
    text-align: center;
}

.about-text {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1.5rem;
    align-items: start;
}

.about-text figure {
    margin: 0;
    justify-self: end;
}

.about-text img {
    width: 100%;
    height: auto;
    padding: 1rem;

}

.resources {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding-top: 30px;
}

.resources ul {
    display: block;
    padding-left: 1.5rem;
}

.resources li {
    margin: .5rem 0;
    padding: 1rem;
}

.resources a {
    color: var(--primary-color);
    font-family: var(--body-font);
    transition: all 0.3s ease;
}

.resources a:hover {
    color: red;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}