/* 
=== COLOR SCHEME === 
Australian Green: #00843D
Australian Gold : #FFCD00
Dark Blue: #00008B
White: #FFFFFF
Red: #FF0000

=== FONT FAMILY ===
Title: Playwrite NZ Basic
Body: SN Pro
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SN Pro';
    font-size: 1.5rem;
}

html {
    font-size: 16px;
}

html, body{
    overflow-x: hidden;
}

/* === HEADER === */

h1 {
    font-family: 'Playwrite NZ Basic';
    font-weight: 300;
    text-align: center;
    background-color: #00008B;
    color: white;
    padding: 40px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 3rem;
}

.space {
    background-color: red;
    padding: 20px;
}

/* === MAIN === */
/* main {
    display: flex;
    flex-direction: column;
    position: relative;
} */


/* .hero-img img {
    width: 100%;
    height: auto;
    display: block;
} */

.hero-container {
    position: relative;
}

/* === DATA CARD, WEATHER CARD === */
:root {
    --green-header: #00843D;
    --bg-card: rgba(255, 255, 255, 0.6);
    --text-color: black;
}

.data-card, .weather-card {
    position: static;
    width: 90%;
    margin: 20px auto;
    background-color: var(--bg-card);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
}

.data-header, .weather-header {
    background-color: var(--green-header);
    color: white;
    /* padding: 15px; */
    margin-bottom: 20px;
}

/* .weather-header::after {
    content: "🌦️"
} */

.weather-header h2::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 8px;

  background-image: url("../images/icons/weather.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.data-content, .weather-content {
    padding: 20px;
}

.data-row, .weather-row {
    display: flex;
    margin-bottom: 8px;
    line-height: 1.4;
}

.label {
    flex: 1;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    color: var(--text-color);
}

/* Right side style */
.value {
    flex: 1.2; /* More space for bigger values */
    text-align: left;
    padding-left: 5px;
    color: var(--text-color);
}

@media (max-width: 768px) {
        .data-card,
        .weather-card {
            position: static;
            width: 90%;
            margin: 20px auto;    
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    .data-card {
        position: static; 
        width: 90%;
        margin: 20px auto;
    }
}   

/* === WEATHER ICON === */

.data-header h2, .weather-header h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

/* === FOOTER === */
footer {
    text-align: center;
    color: white;
    background-color: red;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1rem;
} 

 