main {
    position: relative;
    display: block;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}
    
@media (min-width: 1000px) {

    h1 {
        font-size: 4rem;
    }

    .data-card, .weather-card {
        position: absolute;
        width: clamp(300px, 40vw, 400px);          
        max-width: 400px;      
        backdrop-filter: blur(4px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.6);
        border-radius: 6px;        
    }

    .data-header, .weather-header {
        font-size: 2rem;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .data-content, .weather-content {
        font-size: 1.1rem;
    }

    .data-card {
        top: 35%;
        left: 5%;
    }

    .weather-card {
        top: 5%;
        right: 5%;
    }

    footer {
        font-size: 1rem;
    }

}