main {
    position: relative;
    display: block;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}
    
@media (min-width: 1000px) {

    .data-card, .weather-card {
        position: absolute;
        width: 680px;
        backdrop-filter: blur(4px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.6);
        border-radius: 6px;
        overflow: hidden;
        /* font-size: 2rem; */
    }

    .data-header, .weather-header {
        font-size: 3rem;
    }

    .data-card {
        top: 50%;
        left: 5%;
    }

    .weather-card {
        top: 5%;
        right: 5%;
    }

}