main {
    position: relative;
    display: block;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}
    
@media (min-width: 1000px) {
    main {
        position: relative;
        display: block;
    }

    .data-card {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 350px;
        z-index: 10;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .weather-card {
        position: absolute;
        bottom: 30px;
        right: 30px;
        left: auto;
        width: 300px;
        z-index: 10;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

}