main {
    position: relative;
    display: block;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}
    
@media (min-width: 1000px) {
    main {
        position: relative;
        display: block;
    }

    .data-card {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 400px;
        z-index: 10;
        /* background-color: rgba(255, 255, 255, 0.8); */
        margin: 0;
    }

    .weather-card {
        position: absolute;
        top: 50px;
        right: 50px;
        left: auto;
        width: 400px;
        z-index: 10;
        /* background-color: rgba(255, 255, 255, 0.8); */
        margin: 0;
    }

}