.hero-container {
    position: relative; 
}

.data-card {
    position: absolute; 
    top: 30px;          
    left: 30px;         
    width: 350px;       
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}