@media (max-width: 900px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .temple-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    header h1 {
        font-size: 48px;
    }
}

@media (min-width: 640px) {
    #menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: static;
    }
}
