@media (max-width: 900px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .temple-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    header h1 {
        font-size: 32px;
    }
}

@media (min-width: 640px) {
    header {
        justify-content: space-between;
        padding: 0 40px;
        height: 80px;
    }

    #menu-toggle {
        display: none;
    }

    nav {
        height: 100%;
        margin-left: auto;
        align-self: stretch;
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 0px;
        position: static;
        height: 100%;
        background-color: transparent;
        opacity: 1;
    }

    nav li {
        display: flex;
        height: 100%;
    }

    nav a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;
        /* height: 100%; */
        transition: 0.3s;
    }

    nav a:hover {
        background-color: #ACBAC4;
        color: #30364F;
    }
}
