/* === COLOR PALLET === */

/* 
#576A8F - Deep blue
#B7BDF7 - Ligt blue
#FFF8DE - Cream
#FF7444 - Orange
*/
* {
    font-family: 'Delius', cursive;
}

header {
  background-color: #576A8F;
  color: white;
  padding: 1rem;
}

#menu {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

nav {
  display: none;
}

nav.open {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #FF7444;
}

.active {
  color: #FF7444;
}

/* MAIN */
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.temple-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  background: #FFF8DE;
  padding: 0.5rem;
  border-radius: 6px;
  text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}