/* 
=== COLOR PALETHE ===

#30364F - Navy blue
#ACBAC4 - Warm gray
#E1D9BC - Sand
#F0F0DB - Eggshell
#F6CE71 - Ochre
*/


* {
    font-family: 'Ubuntu';
    box-sizing: border-box;
}

/* === HEADER === */

header {
    background-color: #30364F;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

header h1 {
    font-size: 80px;
    padding-left: 40px;
    font-weight: 400;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    /* padding: 0;
    margin: 0;
    display: flex;
    align-items: center; */
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 40px;
    justify-content: space-evenly;

}

nav a:hover {
    background-color: #ACBAC4;
    color: #525b80;
}

.active {
    color: #C9A43A;
}

/* === MAIN === */
.heading {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

figure {
    position: relative;
    border-radius: 5px;

    outline: 4px solid transparent;
    outline-offset: 0;

    transition:
        box-shadow 0.3s ease,
        outline-offset 0.3s ease,
        outline-color 0.3s ease;
}

figure img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

figcaption {
    text-align: center;
    padding: 10px;
}

figure:hover {
    outline-color: #F6CE71;
    outline-offset: 6px; /* 👈 cria “espaço” ao redor */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}